@font-face {
  font-family: "goorm-sans-bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.introduction {
  padding: auto;
  background-color: white;
  text-align: center;
}

.title {
  margin-top: 40px;
  font-family: "goorm-sans-bold";
}

.intro_container {
  opacity: 0;
  animation: fadeIn 2s forwards;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.intro_contents {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.int_main {
  margin: 0;
  padding: 0;
}

.int_top {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.lab_header {
  font-family: "goorm-sans-bold";
  display: inline-block;
  position: relative;
}

.lab_header em {
  font-weight: normal;
  color: #007bff;
}

.int_bottom {
  margin-top: 25px;
}

.main_desc {
  font-family: "goorm-sans-bold";
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  text-align: left;
}

.paper_proc {
  list-style: circle;
  list-style: none;
  font-family: "goorm-sans-bold";
  padding-left: 25px;
  text-align: left;
}

.paper_ex {
  font-family: "goorm-sans-bold";
  justify-content: center;
  font-size: 19px;
  list-style: none;
  max-width: 100%;
  width: 100%;
}

.paper_img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0 10px;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.slick-dots {
  position: absolute;
}

.custom-arrow {
  font-size: 24px;
  color: #000;
  cursor: pointer;
  z-index: 1;
}

.prev-arrow {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.next-arrow {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}
