.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; /*이미지가 컨테이너를 벗어나지 않도록*/
}

.background-image {
  object-fit: fill;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.image-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  position: relative;
}

.image-container > h1 {
  color: white;
  font-size: 35px;
  position: absolute;
  top: 680px;
  left: 50%;
  transform: translateX(-50%); /* 중앙 정렬을 위해 수평으로 이동 */
  z-index: 1; /* h1을 이미지 위로 올리기 위해 z-index 설정 */
}

.image-container:hover .background-image {
  transform: scale(1.1);
  transition: transform 1.2s ease-in-out;
}

@media (max-width: 1475px) {
  .image-container > h1 {
    top: 58%;
    transform: translate(-50%, -50%);
    font-size: 28px;
  }

  .image-container > button {
    position: relative;
    top: -600px;
    font-size: 18px;
  }
}

@media (max-width: 1055px) {
  .image-container > h1 {
    top: 70%;
    transform: translate(-50%, -50%);
    font-size: 24px;
  }

  .image-container > button {
    top: calc(70% + 40px);
    font-size: 18px;
  }
}
